#c1-header { border-bottom: 1px solid black; margin-bottom: 5px; font-weight: bold; }
#c2-header { border-bottom: 1px solid black; margin-bottom: 5px; }
.word-header { border-bottom: 1px solid black; background: #ccc; font-size: medium; padding: 5px; font-weight: bold; }
